<img ng-if="!loadingCompleted" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" width="100px" class="center-block">
<div class="paper-card" ng-cloak ng-if="loadingCompleted">
    <h2>Welcome, {{data.player_name}}</span> </h2>
    <label>Gender :</label> {{data.player_gender}}
    <br>
    <label>Email :</label> {{data.player_email}}
    <br>
    <hr>
    <h3>Current Game Match Point : {{data.player_total_points}}</h3>
    <button name="pt_btn_3" ng-model="pt_btn_3" ng-click="addPt(3)">3 points</button>
    <button name="pt_btn_2" ng-model="pt_btn_2" ng-click="addPt(2)">2 points</button>
    <button name="pt_btn_1" ng-model="pt_btn_1" ng-click="addPt(1)">1 points</button>
    <!-- Show message if POINT less than 50 -->
    <div ng-show="data.player_total_points < '50'">
        <hr>
        <h3 class="text-warning">Keep Going !</h3>
    </div>
    <!-- Show message if POINT equal or more than 50 but less than 100 -->
    <div ng-show="data.player_total_points >= '50' && data.player_total_points < '100'">
        <hr>
        <h3 class="text-success">Good Job !</h3>
    </div>
    <!-- Show message if POINT equal or more than 100 -->
    <div ng-show="data.player_total_points >= '100'">
        <hr>
        <h3 class="text-danger">Excellent !!!!</h3>
    </div>
    <div>
        <hr>
        <a class="btn btn-primary btn-danger" ng-click="logoutSubmit()">Logout</a>
        <a class="btn btn-primary" href="#!/">Back to Home</a>
    </div>
</div>